/* Sets up ACF */

.umt_enabled #poststuff {
	margin-top:40px;
}

.umt_enabled.umt_no_margin #poststuff, .umt_enabled.umt_no_js #poststuff {
	margin-top:0px;
}

/* If on option page */
#wpbody-content #sw-ultimate-metabox-tab-list{
	position:absolute;
	top:-50px;
}

/* If using patched 'action' hook */
#wpbody-content .post_header_html #sw-ultimate-metabox-tab-list {
	position:absolute;
	top:0px;
}

/* If not using any patches and just css hacky */
#postdivrich #wp-content-wrap #sw-ultimate-metabox-tab-list{
	position:absolute;
	top:-150px;
}

#sw-ultimate-metabox-tab-list-container {
	position:relative;
	width:100%;
}

/* Only give it a height if there is no margin padding (ie. If the patch is applied) */
.umt_enabled.umt_no_margin #sw-ultimate-metabox-tab-list-container {
	height:35px;
}

#sw-ultimate-metabox-tab-list {
	width:100%;
	min-height:20px;
	border-bottom:1px solid #ECECEC;
}

#sw-ultimate-metabox-tab-list li  {
	float:left;
	margin: 0px 4px 0px 0px;
}

#wpcontent {
    height: 100%;
    overflow: hidden;
}

#sw-ultimate-metabox-tab-list li a {
	border-radius: none;
	outline: none;
    border: 1px solid #ccc;
	border-bottom: none;
	background: #e4e4e4;
	color: #555;
	font-size: 1em;
	line-height: 16px;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
	margin: -4px 4px -1px 0;
}

#sw-ultimate-metabox-tab-list li a:hover,
#sw-ultimate-metabox-tab-list li a.active {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #000;
}

.umt_enabled.umt_no_margin #sw-ultimate-metabox-tab-list-container {
    height: 50px;
}

#sw-ultimate-metabox-tab-list {
    width: 100%;
    min-height: 20px;
    border-bottom: 1px solid #bbb;
}
